# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Python files
__pycache__

# Configuration
.env

# Extra files
/tmp/
*.log
