# Mac files
.DS_Store

# Eclipse project files
/.project
/.pydevproject
/.buildpath
/.settings

# VSCode files
/.vscode
*.code-workspace

# Python files
__pycache__

# Client testing (copied from https://github.com/zimagi/zimagi/tree/main/package)
/lib/zimagi
/lib/requirements.txt

# Configuration
.env

# Extra files
/tmp/
*.log
